.lebanese-plate {
    display: inline-flex;
    align-items: stretch;
    border-radius: 5px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.1);
    height: 42px;
    min-width: 200px;
    overflow: hidden;
    user-select: none;
    margin: 10px 2px !important; 
}

.lebanese-plate-white {
    background: #FFFFFF;
    border: 2px solid #A3A3A3;
}

.lebanese-plate-white .lebanese-plate-side {
    background: #1164ac;
}

.lebanese-plate-white .lebanese-plate-code,
.lebanese-plate-white .lebanese-plate-number {
    color: #000000 !important;
}

.lebanese-plate-red {
    background: #FFFFFF;
    border: 2px solid #991B1B;
}

.lebanese-plate-red .lebanese-plate-side {
    background: #DC2626;
}

.lebanese-plate-red .lebanese-plate-code,
.lebanese-plate-red .lebanese-plate-number {
    color: #DC2626 !important;
}

.lebanese-plate-green {
    background: #FFFFFF;
    border: 2px solid #14532D;
}

.lebanese-plate-green .lebanese-plate-side {
    background: #36a84f;
}

.lebanese-plate-green .lebanese-plate-code,
.lebanese-plate-green .lebanese-plate-number {
    color: #2a8b3f !important;
}

.lebanese-plate-yellow {
    background: #FFFFFF;
    border: 2px solid #A16207;
}

.lebanese-plate-yellow .lebanese-plate-side {
    background: #FACC15;
}

.lebanese-plate-yellow .lebanese-plate-code,
.lebanese-plate-yellow .lebanese-plate-number {
    color: #f8ca15 !important;
}

.lebanese-plate-side {
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3px 2px;
    box-sizing: border-box;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.lebanese-plate-side-text-top {
    font-size: 7px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lebanese-plate-side-text-bottom {
    font-size: 8px;
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lebanese-plate-cedar-img {
    width: 12px;
    height: 12px;
    margin: 1px 0;
    filter: brightness(0) invert(1);
}

.lebanese-plate-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.lebanese-plate-code {
    font-size: 22px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transform: scaleY(1.1);
}

.lebanese-plate-number {
    font-size: 24px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    transform: scaleY(1.1);
}
